<header class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">お客様管理表</a>
  <div class="navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="new">新規登録</a>
      </li>
    </ul>
    <form class="form-inline">
      <select class="form-control">
        <option>ALTURA</option>
        <option>SEOマーケティング部</option>
        <option>人事・総務部</option>
        <option>営業本部</option>
      </select>
      <input class="form-control mr-sm-1" type="search">
      <button class="btn btn-primary" type="submit">ログイン</button>
    </form>
  </div>
</header>
<div class='main'>
  <div class='side'>
    <div class='side-bar text-center'>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">ア行</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">ア</a>
              <a href="#" class="list-group-item list-group-item-action">イ</a>
              <a href="#" class="list-group-item list-group-item-action">ウ</a>
              <a href="#" class="list-group-item list-group-item-action">エ</a>
              <a href="#" class="list-group-item list-group-item-action">オ</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">カ行</a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">カ</a>
              <a href="#" class="list-group-item list-group-item-action">キ</a>
              <a href="#" class="list-group-item list-group-item-action">ク</a>
              <a href="#" class="list-group-item list-group-item-action">ケ</a>
              <a href="#" class="list-group-item list-group-item-action">コ</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">サ行</a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">サ</a>
              <a href="#" class="list-group-item list-group-item-action">シ</a>
              <a href="#" class="list-group-item list-group-item-action">ス</a>
              <a href="#" class="list-group-item list-group-item-action">セ</a>
              <a href="#" class="list-group-item list-group-item-action">ソ</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">タ行</a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">タ</a>
              <a href="#" class="list-group-item list-group-item-action">チ</a>
              <a href="#" class="list-group-item list-group-item-action">ツ</a>
              <a href="#" class="list-group-item list-group-item-action">テ</a>
              <a href="#" class="list-group-item list-group-item-action">ト</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">ナ行</a>
            </h4>
          </div>
          <div id="collapse7" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">ナ</a>
              <a href="#" class="list-group-item list-group-item-action">ニ</a>
              <a href="#" class="list-group-item list-group-item-action">ヌ</a>
              <a href="#" class="list-group-item list-group-item-action">ネ</a>
              <a href="#" class="list-group-item list-group-item-action">ノ</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">ハ行</a>
            </h4>
          </div>
          <div id="collapse8" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">ハ</a>
              <a href="#" class="list-group-item list-group-item-action">ヒ</a>
              <a href="#" class="list-group-item list-group-item-action">フ</a>
              <a href="#" class="list-group-item list-group-item-action">ヘ</a>
              <a href="#" class="list-group-item list-group-item-action">ホ</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">マ行</a>
            </h4>
          </div>
          <div id="collapse9" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">マ</a>
              <a href="#" class="list-group-item list-group-item-action">ミ</a>
              <a href="#" class="list-group-item list-group-item-action">ム</a>
              <a href="#" class="list-group-item list-group-item-action">メ</a>
              <a href="#" class="list-group-item list-group-item-action">モ</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">ヤ行</a>
            </h4>
          </div>
          <div id="collapse10" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">ヤ</a>
              <a href="#" class="list-group-item list-group-item-action">ユ</a>
              <a href="#" class="list-group-item list-group-item-action">ヨ</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">ラ行</a>
            </h4>
          </div>
          <div id="collapse11" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">ラ</a>
              <a href="#" class="list-group-item list-group-item-action">リ</a>
              <a href="#" class="list-group-item list-group-item-action">ル</a>
              <a href="#" class="list-group-item list-group-item-action">レ</a>
              <a href="#" class="list-group-item list-group-item-action">ロ</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">ワ行</a>
            </h4>
          </div>
          <div id="collapse12" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action">ワ</a>
              <a href="#" class="list-group-item list-group-item-action">ヲ</a>
              <a href="#" class="list-group-item list-group-item-action">ン</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='main-bar'>
    <div class="list-group text-center">
      <a href="#" class="list-group-item list-group-item-action">伊藤貞夫 様</a>
      <a href="#" class="list-group-item list-group-item-action">秋山秀宗 様</a>
      <a href="#" class="list-group-item list-group-item-action">藤田征樹 様</a>
      <a href="#" class="list-group-item list-group-item-action">大山美智代 様</a>
      <a href="#" class="list-group-item list-group-item-action">金子昭 様</a>
    </div>
  </div>
</div>
<footer class="page-footer font-small stylish-color-dark pt-4 bg-dark mb-3 mt-3 navbar">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://sample-test.sub.jp/al/"> altura.inc</a>
  </div>
</footer>