.side{
  width:20vw;
  height:auto;
  float:left;
}

.side-bar{
  width:15vw;
  background-color:#009f3d;
  height:auto;
  margin:0 auto;
  padding: 5px;
}

.main-bar{
  width:60vw;
  min-height:500px;
  height:auto;
  background-color:#009f3d;
  margin:0 auto;
  padding: 5px;
}

.panel-group{
  margin-bottom: 0;
}

.new-date{
  margin:0 auto;
}